<!-- <p>This is the register view.</p>
 -->
	<form name="register" class="form-signin">
		<h1 class="form-signin-heading text-muted">Sign In</h1>
		<input name="email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
		<input name = "password" type="password" class="form-control" placeholder="Password" required="">
		<input name="password_confirm" ng-model="password_confirm" type="password" class="form-control" placeholder="Confirm Password"  validate-equals="password">

		<!-- min 5:50 -->
			<p class="help-block" ng-show="register.password_confirm.$dirty && register.password_confirm.$invalid"> please match the passwords.</p>

		<button ng-disabled="register.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
	</form>